.provisorio-links {
    display: flex;
    justify-content: space-between;
    max-width: 480px;
    margin: 20px auto;
    padding: 0 16px;
    font-size: 40px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container,
.button-container {
    max-width: 480px;
    margin: auto;
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

option,optgroup{
    font-size: 12px;
}

select{
    width: 97.5%;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    border-radius: 8px;
}

input,button {
    width: 90%;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    border-radius: 8px;
}

button {
    width: 100%;
    max-width: 300px;

    background: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
}


.foto-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

/* IMAGEM (placeholder e depois a real) */
#preview {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px dashed #999;
}

/* ESCONDE INPUT */
input[type="file"] {
    display: none;
}
