.provisorio-links {
    display: flex;
    justify-content: space-between;
    max-width: 480px;
    margin: 20px auto;
    padding: 0 16px;
    font-size: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    /* background: linear-gradient(135deg, #000, #1a1a1a); */
}

/* Top Bar */
.top-bar {
    background: #5a4fcf;
    color: #fff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h1 {
    font-size: 18px;
}

.menu,
.search {
    font-size: 20px;
    cursor: pointer;
}

/* Container */
.container {
    padding: 20px;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

/* Card */
.card {
    background: #fff;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.40);
    cursor: pointer;
    transition: transform 0.2s;
    height: 125px;
    width: 100%;
}

.card:hover {
    transform: translateY(-4px);
}

.card p {
    margin-top: 10px;
    font-size: 14px;
}

/* Icons */
.icon {
    width: 55px;
    height: 55px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: auto;
    color: #fff;
}

/* CORES COM DESTAQUE */
/* .purple {
    background: linear-gradient(135deg, #7b2ff7, #b721ff);
}

.blue {
    background: linear-gradient(135deg, #2196f3, #21cbf3);
}

.green {
    background: linear-gradient(135deg, #2ecc71, #1abc9c);
}

.orange {
    background: linear-gradient(135deg, #ff9800, #ff5722);
}

.pink {
    background: linear-gradient(135deg, #e91e63, #ff6090);
}

.red {
    background: linear-gradient(135deg, #f44336, #e53935);
}

.teal {
    background: linear-gradient(135deg, #009688, #26a69a);
}

.yellow {
    background: linear-gradient(135deg, #fbc02d, #ffeb3b);
    color: #3a2f00;
} */

.card-btn {
    background: transparent;
    border: none;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: black;
}

/* Responsivo */
@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}